In [33]:
from sklearn.svm import SVR
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor
from sklearn.isotonic import IsotonicRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
import keras
from sklearn.model_selection import train_test_split
from keras import layers
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df.dropna().to_numpy()
df=df.drop(columns="Unnamed: 0")
df1=pd.DataFrame(df)
df1

      ball_pos0  ball_pos1  ball_vel0  ball_vel1  paddle_2  paddle_1
0         267.0      178.0       -3.0       -2.0     200.0     200.0
1         264.0      176.0       -3.0       -2.0     200.0     200.0
2         261.0      174.0       -3.0       -2.0     200.0     200.0
3         258.0      172.0       -3.0       -2.0     200.0     200.0
4         255.0      170.0       -3.0       -2.0     200.0     200.0
...         ...        ...        ...        ...       ...       ...
2219       39.0       26.0       -3.0       -2.0      40.0      40.0
2220       36.0       24.0       -3.0       -2.0      40.0      40.0
2221       33.0       22.0       -3.0       -2.0      40.0      40.0
2222       30.0       20.0       -3.0       -2.0      40.0      40.0
2223       27.0       22.0       -3.0        2.0      40.0      40.0

[2224 rows x 6 columns]

In [3]:
df1.describe()

,ball_pos0,ball_pos1,ball_vel0,ball_vel1,paddle_2,paddle_1
count,2224.000000,2224.000000,2224.000000,2224.000000,2224.000000,2224.000000
mean,147.677608,206.889838,-3.139900,-0.404902,226.940198,190.107914
std,70.156780,105.831663,1.349835,1.995080,152.577279,94.241748
min,22.000000,20.000000,-9.189946,-3.797498,40.000000,40.000000
25%,87.000000,109.000000,-3.543122,-2.000000,40.000000,96.000000
50%,148.000000,208.000000,-2.928200,-1.000000,360.000000,200.000000
75%,208.000000,306.000000,-2.420000,1.464100,360.000000,264.000000
max,269.000000,382.000000,-2.000000,4.594973,360.000000,352.000000

In [4]:
data_transformation=Pipeline(
    (
        ("StandardScale",StandardScaler()),
        
    )
)
data=data_transformation.fit_transform(df)
df=pd.DataFrame(data)
df

             0         1         2         3         4         5
0     1.701179 -0.273041  0.103665 -0.799695 -0.176607  0.104989
1     1.658408 -0.291943  0.103665 -0.799695 -0.176607  0.104989
2     1.615637 -0.310845  0.103665 -0.799695 -0.176607  0.104989
3     1.572866 -0.329747  0.103665 -0.799695 -0.176607  0.104989
4     1.530095 -0.348649  0.103665 -0.799695 -0.176607  0.104989
...        ...       ...       ...       ...       ...       ...
2219 -1.549416 -1.709607  0.103665 -0.799695 -1.225492 -1.593155
2220 -1.592187 -1.728509  0.103665 -0.799695 -1.225492 -1.593155
2221 -1.634958 -1.747411  0.103665 -0.799695 -1.225492 -1.593155
2222 -1.677729 -1.766313  0.103665 -0.799695 -1.225492 -1.593155
2223 -1.720500 -1.747411  0.103665  1.205687 -1.225492 -1.593155

[2224 rows x 6 columns]

In [5]:


y=df[5]

X=df.drop([4,5],axis=1)
y

0       0.104989
1       0.104989
2       0.104989
3       0.104989
4       0.104989
          ...
2219   -1.593155
2220   -1.593155
2221   -1.593155
2222   -1.593155
2223   -1.593155
Name: 5, Length: 2224, dtype: float64

In [6]:


X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=2)

In [77]:
model=SVR(kernel="rbf",degree=75,C=75)
model.fit(df1.drop(["paddle_1","paddle_2"],axis=1).values,df1.paddle_1.values)

SVR(C=75, degree=75)

In [78]:
pre=model.predict(df1.drop(["paddle_1","paddle_2"],axis=1))
pre

c:\Users\USER\anaconda3\envs\tensorflow_env\lib\site-packages\sklearn\base.py:402: UserWarning: X has feature names, but SVR was fitted without feature names
  warnings.warn(

array([204.82683924, 203.41855336, 201.84105001, ...,  44.33426356,
        43.08361371,  49.07238245])

In [79]:
model.score(df1.drop(["paddle_1","paddle_2"],axis=1),df1.paddle_1)

c:\Users\USER\anaconda3\envs\tensorflow_env\lib\site-packages\sklearn\base.py:402: UserWarning: X has feature names, but SVR was fitted without feature names
  warnings.warn(

0.8059107183575058

In [80]:
from joblib import dump, load

In [81]:
dump(model, 'model_v1.joblib')

['model_v1.joblib']